*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    
}

body{
    background-color: beige;
    width: 98%;
    margin: auto;
    max-width: 800px;
    border: solid black;
    padding: 0px 35px;
}

header>p{
    margin: 10px 0px;
    height: 20px;
}
h1{
    text-align: center;
}
input, select{
    border:  1px solid black;
    background-color: aqua;
    text-align: center;
}
.palavras>ul{
    padding: 5px 30px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    
}
.palavra-encontrada{
    
    text-decoration: line-through;
    color: lightgray;
}

.btn-novo{
    margin: 15px 30px;
    height: 48px;
    width: 110px;
    font-size: 12px;
    background-color: red;
    font-weight: bolder;
    box-shadow: 1px 1px 1px black;
}
.btn-novo:hover{
    transform: scale(1.1);
    transition: 1s;
}

main{
    width: 95%;
    position: relative;
    border: 1px solid black;
}
.cabecalho-fixo{
    background-color: beige;
    position: sticky;
    top: 0px;
}
.diagrama-conteiner{
    overflow-x: auto;
}

#diagrama{
    border-collapse: collapse;
    margin: 15px;
    border: 2px solid blue;
}

td{
    
    width: 26px;
    height: 26px;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    
}
.tdPreenchida{
    background-color: darkgreen;
    color: white;

}
.tdErro{
    background-color: brown;
    color: rgb(82, 79, 79)

}

.invisivel{
    display: none;
}

.atencao{
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.mensagem-vitoria{
    color: green;
    font-weight: bold;
    text-decoration: underline;
}