*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    background-color: beige;
    width: 96%;
    margin: auto;
    max-width: 800px;
    border: solid black;
    padding: 0px 35px;
}

header>p{
    margin: 15px 0px;
    height: 20px;
}
h1{
    text-align: center;
}
input, select{
    border:  1px solid black;
    background-color: aqua;
    text-align: center;
}
.btn-novo{
    margin: 15px 30px;
    height: 48px;
    width: 180px;
    font-size: 12px;
    background-color: red;
    font-weight: bolder;
    box-shadow: 1px 1px 1px black;
}
.btn-novo:hover{
    transform: scale(1.1);
    transition: 1s;
}

main{
    display: flex;
    flex-wrap: wrap;
}

#diagrama{
    border-collapse: collapse;
    margin: 15px;
    border: 2px solid blue;
}

td{
    
    width: 26px;
    height: 26px;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    
}

