body{
    background: blue;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;

}

section{
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);

}
#res{
    width: 500px;
    
}

footer{
    text-align: center;

}
.erro{
    color: red;
    text-align: center;
    background-color: black;
    font-weight: bold;
    border-radius: 15px;
    opacity: 95%;
}
