*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.mostrador{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 100%;
    position: absolute;
    transform-origin: center;
}

.ponteiro{
    transform-origin: left;
    position: absolute;
    background-color: black;
    left: 200px;
    top: 200px;
    border: 1px solid black;
    width: 10rem;
    rotate: 0deg;
    border-radius: 10px;
}
.algarismo{
    position: absolute;
    font-weight: bold;
    text-align: center; 
    font-size: 2rem;
    align-items: center;
    vertical-align: middle;
    
    transform-origin: center;
    
}