*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: black;
}

.itens ul{
    text-align: center;
    background-color: rgb(189, 129, 26);
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
}

li{
    margin: 15px;
}

.itens a {
    color: #cccccc;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.itens a:hover {
    transition: color 1s;
    color: rgb(189, 129, 26);
    color:black;
    font-size: 115%;
    text-decoration: underline;
}