table{
    border: 2px solid black;
    border-collapse: collapse;
    display: inline-block;
    margin: 20px;
    background-color: beige;
}

td, th{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
.tabela3{
    position: relative;

}
.tabela3 > thead > tr > th{
    position: sticky;
    top: 0;
    background-color: beige;
    border: 0.5px solid black;
    
}


.tabela3 > tr:nth-child(2n){
    background-color: aqua;

}