body{
    background: blue;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);

}

input{
    width: 75px;
    text-align: center;
}
select{
    width: 250px;
}

footer{
    text-align: center;
}