/*medidas 19.50 X 14.00*/

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

header, body{
    background-color: black;
    width: 95%;
    margin: auto 2.5%;
    min-width: 440px;
}

.pagina-inicial, .pagina-inicial>a>img{
    margin: 3px 0px 3px 3px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.controles input{
    font-weight: bold;
    margin: -3px 10px;
    width: 120px;
    height: 35px;
    color: white;
    background-color:grey;
    border-radius: 5px;
    box-shadow: 5px black;
}
.controles input:hover{
    color: blue;
    transition: 1.5s;
}

.arame{
    width: 95%;
    margin: -4px  2.5%;
    /*border: beige;*/
}

#area-calendario{
    width: 95%;
    margin: 0 2.5%;
    background-color: beige;
    height: 630px;
    vertical-align: top;
    background-image: url('textura.png');
    background-repeat: repeat;
}

.mes-ano{
    height: 10%;
    width: 90%;
    margin: 15px 5%;
    /*border: 15px beige solid;*/
    text-align: right;
    color: blue;
    font-size: 300%;
    font-weight: bold;
}


.dia-do-mes{
    position: absolute;
    width: 90%;
    height: 120px;
    margin: 1em auto;
    height: 80%;
    border: none ;
    opacity: 100%;
}


.novo-dia{
    position: absolute;
    background-color: none;
    border: solid blue 1px;
    color: blue;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 300%;

}
.dia-semana{
    position: absolute;
    text-align: center;
    color: blue;
}
