*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
body{
    width: 100%;
    max-width: 550px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(170, 216, 237);
    
}
#pagina-inicial, #pagina-inicial>a>img{
    margin: 3px 0px 3px 3px;
    width: 30px;
    height: 30px;
    background-color:rgb(170, 216, 237);
    color: beige;
    
}

h1{
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;

}
p{
    margin-left: 25px;
    /* border: solid 1px black; */
}

table{
    background-color:rgb(167, 203, 176);
    border-collapse: collapse;
    margin-left: 15px;
    margin-bottom: 30px;
   
}
tr:nth-child(2n){
    background-color: rgb(216, 249, 238);
}

.btn{
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(216, 249, 238);
    border-radius:6px 6px 0px 0px;
    width: 180px;
    height: 45px;
    font-size: 1.3em;
}

.btn:hover{
    color: blue;
   
}
.clicado{

    background-color:rgb(70, 154, 77);
}



th,td{
    text-align: center;
    border: solid 1px black;
    width: 45px;
    height: 30px;
    direction: rtl;
    
}
th{
    font-weight: bold;
    font-size: 12px;
    color: white;
    background-color: rgb(70, 154, 77);
   
}
td{
    font-size: 14px;
}


.primeira-coluna{
    font-weight: bold;
    font-size: 14px;
}
.grafico{
    border: 1px solid black;
    margin: 30px;
    background-color: black;
    
    
}

/* .btnAno{
    border-radius: 4px;
    margin: 2px;
    width: 50px;
    font-size: 1em;

}

.btnAno:hover{
     transition: background-color 0.2s ease;
} */

/* Estilização do Botão 3D */
.btnAno {
  position: relative;
  display: inline-block;
  
  font-size: 1em;
  font-weight: bold;
  font-family: sans-serif;
  color: #ffffff;
  background-color: #60EE10; /* Cor principal (topo) */
  border: none;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  margin: 4px;
  width: 65px;
  height: 40px;
  
  /* Sombra sólida de 6px que cria o efeito de profundidade 3D */
  box-shadow: 0 6px 0 #4cae0b; 
  
  /* Transição suave para efeitos de hover */
  transition: background-color 0.2s ease;
}

/* Efeito ao passar o mouse (Hover) */
.btnAno:hover {
  background-color: #55df0e;
  color: black;
}

/* Efeito ao clicar (Pressionado) */
.btnAno:active {
  /* Move o botão para baixo na mesma proporção da sombra */
  transform: translateY(6px); 
  
  /* Reduz a sombra para zero para simular que encostou no fundo */
  box-shadow: 0 0px 0 #4cae0b; 
}
