body{
    background: lightblue;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;

}

section{
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);

}
#ano{
    text-align: center;
}

#sexo{
    margin: 25px;
}
#btn{
    text-align: center;
    margin: 5px;
    height: 30px;
    line-height: 15px;
    left: 150px;
}
#resultado{
    text-align: center;
}


#foto{
    text-align: center;
    margin: auto;
    width: 120px;
    height: 120px;
}

footer{
    text-align: center;

}
.feminino{
    background-color: pink;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.966);
}

.masculino{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px rgba(138, 75, 75, 0.952);
}