*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
body{
    width: 550px;
}

#pagina-inicial, #pagina-inicial>a>img{
    margin: 3px 0px 3px 3px;
    width: 30px;
    height: 30px;
    background-color: beige;
    color: beige;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.entrada{
    border: 2px solid black;
    width: 3em;
    height: 3em;
    padding: auto auto;
    text-align: center;
}
.cada-linha{
    margin: 10px 0px;
}


.cada-letra{
    display: inline-block;
    border: 2px solid black;
    width: 30px;
    height: 39px; 
    /*padding: 0.5em;*/
    align-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* text-align: center; */
    margin: 0.5em;
    /*color: transparent;*/
    font-size: 1,3em;   
}
.visivel{
    color: black;
}