
#banner{
    width: 100%;
}
.principal{
    background: rgb(200 ,200, 200);
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
    
}

.titulo-centralizado{
    text-align: center;
}

p {
    text-align: center;
 
}
#missao{
    font-size: 20px;
}

em strong{
    color: #FF0000

}
.Itens{
    font-style: italic;
}
.beneficio{
    background: #FFffff;
    padding: 20px

}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 50%;
}