*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
:root{
    --corCasasClaras:grey;
    --corCasasEscuras:black;
    --larguraTabuleiro: 400px;
    --larguraCasa:50px;
    --larguraTabuleiroMedio:560px;
    --larguraCasaMedia: 70px;
}
body, main, section, h1{
    width: var(--larguraTabuleiro);
    text-align: center;
    
}
.tabuleiro{
    border-collapse: collapse;
    border: 0px black solid;
    position: absolute;
    width: var(--larguraTabuleiro);
    height: var(--larguraTabuleiro);


}
.cada-casa{
    color: transparent;
    width: var(--larguraCasa);
    height: var(--larguraCasa);
}
.cada-casa:hover{
    color: rgba(162, 249, 220,0.4);
    cursor: pointer;
    text-align: center;
    align-content: center;
    font-size: 1.8em;
}
.casa-clara{
    background-color: var(--corCasasClaras);
}
.casa-escura{
    background-color: var(--corCasasEscuras);
}


@media screen and (min-width:400px) {
    body, main, section, h1{
        text-align: center;
        /* margin: auto; */
    }
}

@media screen and (min-width:660px) {
    body{
        background-color: blue;
        margin-left: 30px;
    }
    
    .cada-casa{
        width: var(--larguraCasaMedia);
        height: var(--larguraCasaMedia);

    }
    .tabuleiro{
        width: var(--larguraTabuleiroMedio);
        height: var(--larguraTabuleiroMedio);
    }
    body, main, section, h1{
    width: var(--larguraTabuleiroMedio);
    
    }
}