*{
    padding: 0px;
    margin: 0px;
    border: 0px;

}

h1{
    text-align: center;
    text-decoration: underline;
}

body{
    background-color: aquamarine;
    border: 1px solid red;
    height: 600px;
}
.pai{
    background-color: yellowgreen;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    /*flex-direction: row;*/
    justify-content: center;
    align-content: center;
    
    row-gap: 10px;
    
    
    
}
.filho{
    background-color: blue;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    

}

